* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;

    height: 100vh;
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    margin: 29vh auto;
    color: #fff;
}

footer, header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.6em;
    line-height: 0;

    background-color: lightgray;
}

footer img {
    width: 1.6em;
}